spring:
  profiles:
    active: dev

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true

  h2:
    console:
      enabled: true

  sql:
    init:
      mode: always

logging:
  level:
    root: info
    com.api.readinglog: DEBUG